#main{
    width: 1200px;
    height: 1500px;
    display: flex;
    flex-direction: column;
    background-color: rgba(8, 246, 246, 0.291);
    margin: auto;
    justify-content: flex-start;
}
body{
    background-image: url(../images/space.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#form{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
#main h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
form p{
    font-size: large;
    font-weight: 800;
}
#answer{
    width: 100%;
    height: auto;
    font-size: large;
    font-weight: 800;
    color: black;
}